.header__text {
   line-height: 1.7;
   font-size: 26px;
   text-align: center;
   text-shadow: 0 0 1px #000;
}

.wrapper {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   margin-bottom: 10px;
}

