.link {
   display: inline-flex;
   align-items: center;
   margin-bottom: 30px;
   font-weight: 600;
   font-size: 18px;
   color: #000;
   text-decoration: none;
}

.link__img {
   width: 30px;
   height: 30px;
   object-fit: cover;
   object-position: center center;
}